
.hidden { display: none } /* use this CSS class to disable elements temporarily */

body, html {
  background-color: #778; /* a nice steelblue (but not the same as what Gecko thinks steelblue is */

  height: 100%;   width: 100%;  /* ensure that subelements are able to compute using relative units; why, CSS, why? */
}

/* layout */
#map {
  height: 100%;
  width: 60%;
}

#graph {
  height: 100%;
  width: 40%;
}

/* d3 properties */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

